<a href="https://colab.research.google.com/github/Erajjamil137/Data-preprocessing/blob/main/cleaning_the_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import pandas as pd
import numpy as np

# Sample data with names, ages, scores, and salaries
data = {
    'Name': ['Eraj', 'Taha', 'Aleezza', 'Hunniyah', 'Abdullah'],
    'Age': [21, np.nan, 21, 23, np.nan],
    'Score': [98, 90, np.nan, 85, 92],
    'Salary': [520000, np.nan, 61000, np.nan, 480000]
}

# Create a DataFrame
df = pd.DataFrame(data)

# Fill missing values using forward and backward fill methods
df['Age_ffill'] = df['Age'].fillna(method='ffill')   # Forward fill for 'Age'
df['Score_bfill'] = df['Score'].fillna(method='bfill') # Backward fill for 'Score'
df['Salary_ffill'] = df['Salary'].fillna(method='ffill') # Forward fill for 'Salary'

# Display the resulting DataFrame with filled values
print(df)

       Name   Age  Score    Salary  Age_ffill  Score_bfill  Salary_ffill
0      Eraj  21.0   98.0  520000.0       21.0         98.0      520000.0
1      Taha   NaN   90.0       NaN       21.0         90.0      520000.0
2   Aleezza  21.0    NaN   61000.0       21.0         85.0       61000.0
3  Hunniyah  23.0   85.0       NaN       23.0         85.0       61000.0
4  Abdullah   NaN   92.0  480000.0       23.0         92.0      480000.0

<ipython-input-15-f74ec87b5f44>:16: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Age_ffill'] = df['Age'].fillna(method='ffill')   # Forward fill for 'Age'
<ipython-input-15-f74ec87b5f44>:17: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Score_bfill'] = df['Score'].fillna(method='bfill') # Backward fill for 'Score'
<ipython-input-15-f74ec87b5f44>:18: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Salary_ffill'] = df['Salary'].fillna(method='ffill') # Forward fill for 'Salary'

In [4]:
import pandas as pd
import numpy as np

# Sample dataset with missing values
data = {
    'Name': ['Eraj', 'Taha', 'Aleezza', 'Hunniyah', 'Abdullah'],
    'Age': [21, np.nan, 21, 23, np.nan],
    'Score': [98, 90, np.nan, 85, 92],
    'Salary': [52000, np.nan, 61000, np.nan, 48000]
}
df = pd.DataFrame(data)

# Check for missing values
print("Missing values in each column:")
print(df.isnull().sum())

Missing values in each column:
Name      0
Age       2
Score     1
Salary    2
dtype: int64

In [5]:
df_cleaned_rows = df.dropna()  # Removes any row with at least one null

In [6]:
df_cleaned_cols = df.dropna(axis=1)  # Removes columns with any null values

In [7]:
df['Age'].fillna(25, inplace=True)  # Fill missing ages with 25

<ipython-input-7-fc6c890b2e7f>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(25, inplace=True)  # Fill missing ages with 25

In [8]:
df['Age_ffill'] = df['Age'].fillna(method='ffill')  # Forward fill
df['Score_bfill'] = df['Score'].fillna(method='bfill')  # Backward fill

<ipython-input-8-239c36651a87>:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Age_ffill'] = df['Age'].fillna(method='ffill')  # Forward fill
<ipython-input-8-239c36651a87>:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Score_bfill'] = df['Score'].fillna(method='bfill')  # Backward fill

In [9]:
df['Age'].fillna(df['Age'].mean(), inplace=True)   # Fill with mean
df['Salary'].fillna(df['Salary'].median(), inplace=True)  # Fill with median
df['Score'].fillna(df['Score'].mode()[0], inplace=True)  # Fill with mode

<ipython-input-9-769ee2ac6415>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace=True)   # Fill with mean
<ipython-input-9-769ee2ac6415>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Salary'].fillna(df['Salary'].median(), inplace=True)  # Fill with median

In [10]:
df['Age'] = df['Age'].interpolate(method='linear')

In [11]:
print("Data after cleaning:")
print(df)
print("Remaining missing values:", df.isnull().sum())

Data after cleaning:
       Name   Age  Score   Salary  Age_ffill  Score_bfill
0      Eraj  21.0   98.0  52000.0       21.0         98.0
1      Taha  25.0   90.0  52000.0       25.0         90.0
2   Aleezza  21.0   85.0  61000.0       21.0         85.0
3  Hunniyah  23.0   85.0  52000.0       23.0         85.0
4  Abdullah  25.0   92.0  48000.0       25.0         92.0
Remaining missing values: Name           0
Age            0
Score          0
Salary         0
Age_ffill      0
Score_bfill    0
dtype: int64

In [14]:
# Sample dataset
data = {
    'Name': ['Eraj', 'Taha', 'Aleezza', 'Hunniyah', 'Abdullah'],
    'Age': [21, np.nan, 21, 23, np.nan],
    'Score': [98, 90, np.nan, 85, 92],
    'Salary': [520000, np.nan, 61000, np.nan, 480000]
}
df = pd.DataFrame(data)

# Filling missing values
df['Age'].fillna(df['Age'].mean(), inplace=True)       # Mean fill for Age
df['Salary'] = df['Salary'].interpolate(method='linear')  # Linear interpolation for Salary
df['Score'].fillna(df['Score'].bfill(), inplace=True)    # Backward fill for Score

# Results
print(df)

       Name        Age  Score    Salary
0      Eraj  21.000000   98.0  520000.0
1      Taha  21.666667   90.0  290500.0
2   Aleezza  21.000000   85.0   61000.0
3  Hunniyah  23.000000   85.0  270500.0
4  Abdullah  21.666667   92.0  480000.0

<ipython-input-14-d5ed762035b7>:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace=True)       # Mean fill for Age
<ipython-input-14-d5ed762035b7>:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Score'].fillna(df['Score'].bfill(), inplace=True)    # Backward fill for Score