<a href="https://colab.research.google.com/github/Erajjamil137/Machine-learning/blob/main/Encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Target Encoding
# Replaces each category with the mean of the target variable for that category.
import pandas as pd

# Sample data
data = {
    'Product': ['Laptop', 'Smartphone', 'Tablet', 'Smartphone', 'Laptop', 'Laptop', 'Tablet', 'Smartwatch', 'Tablet', 'Smartwatch'],
    'Sales': [1200, 800, 400, 850, 1300, 1150, 450, 300, 500, 320]
}
df = pd.DataFrame(data)

# Display the original DataFrame
print("Original DataFrame:")
print(df)

# Calculate the mean sales for each category in 'Product'
mean_sales = round(df.groupby('Product')['Sales'].mean(), 2)

# Map the mean sales back to the original DataFrame
df['Product_Target_Encoded'] = df['Product'].map(mean_sales)

# Display the DataFrame with the target encoded column
print("\nTarget Encoded DataFrame:")
print(df)

Original DataFrame:
      Product  Sales
0      Laptop   1200
1  Smartphone    800
2      Tablet    400
3  Smartphone    850
4      Laptop   1300
5      Laptop   1150
6      Tablet    450
7  Smartwatch    300
8      Tablet    500
9  Smartwatch    320

Target Encoded DataFrame:
      Product  Sales  Product_Target_Encoded
0      Laptop   1200                 1216.67
1  Smartphone    800                  825.00
2      Tablet    400                  450.00
3  Smartphone    850                  825.00
4      Laptop   1300                 1216.67
5      Laptop   1150                 1216.67
6      Tablet    450                  450.00
7  Smartwatch    300                  310.00
8      Tablet    500                  450.00
9  Smartwatch    320                  310.00